<!DOCTYPE html>
<html>
<title>Admin Paneli</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@*<link href="/css/StyleSheet.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:16%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Admin/Index/" class="w3-bar-item w3-button">Menü</a>
        <a href="/Admin/IcecekGoruntule" class="w3-bar-item w3-button">İçecek Ekle</a>
        <a href="/Admin/TatliGoruntule" class="w3-bar-item w3-button">Tatlı Ekle</a>
        <a href="/Main/Index/" class="w3-bar-item w3-button" onclick="return confirm('Siteye yönlendirileceksiniz.Emin misiniz?');">Siteye Git</a>
        <a href="#/" class="w3-bar-item w3-button" onclick="return confirm('Çıkış yapılacak.Emin misiniz?');">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-pink">
            <h3 style="padding-left:20px">Admin Yönetim Paneli</h3>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>