@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- jQuery kütüphanesi CDN adresi -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>_MainLayout</title>
</head>
<body>

    <!--HEADER start-->
    <header class="header" id="header">

        <a href="/Main/Index"><p class="logo">CAFE' DE LA LA LA</p></a>
        <a href="~/Menu/Index"><p class="headerbutton" id="menu-button">Menü</p></a>
        <a href="~/Login/Index"><p class="headerbutton" id="login-button">Giriş Yap</p></a>
        <a href="~/Register/Index"><p class="headerbutton" id="uye-button">Üye Ol</p></a>


    </header>
    <!--HEADER end-->
    <div>
        @RenderBody()
    </div>

    <!--FOOTER START-->
    <footer>
        <div class="footer">
            <div class="footer-items">
                <a href="#">
                    <i class="bi bi-instagram"> </i>
                </a>
                <a href="#">
                    <i class="bi bi-twitter"> </i>
                </a>
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#">
                    <i class="bi bi-pinterest"> </i>
                </a>
            </div>
        </div>
        <div class="reserved">

            <p class="bi bi-c-circle"> 2023 by Cagla Studio. All Rights Reserved</p>

        </div>
    </footer>
    <!--FOOTER END-->

</body>
</html>