
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin_menu_container" style="width: 100%;
    height: 95.8vh;
    object-fit: cover;
    text-align:center;
    background-color: #ffffff;
    background-repeat: repeat;
    background-position: center;">

    <img style=" height:95.8vh;" src="~/Images/menu.png" />

</div>


